<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
	<link rel="stylesheet" href="css/cursos.css">

	<title>Cursos | Cultivar Idiomas</title>
</head>

<body>

	<% include ../partials/header.ejs %>
	<% include ../partials/nav.ejs %>

	<div class="container">
		<!-- <div class="row">
			<div class="col-xs-3 sidebar">
          		<ul class="nav nav-sidebar">
					<li class="active inglesli"><a href="#ingles">Curso de inglês</a></li>
					<li class="alemaoli"><a href="#alemao">Curso de alemão</a></li>
					<li class="espanholli"><a href="#espanhol">Curso de espanhol</a></li>
					<li class="italianoli"><a href="#italiano">Curso de italiano</a></li>
					<li class="japonesli"><a href="#japones">Curso de japonês</a></li>
					<li class="francesli"><a href="#frances">Curso de francês</a></li>
					<li class="mandarimli"><a href="#mandarim">Curso de mandarim</a></li>
					<li class="portuguesli"><a href="#portugues">Curso de português</a></li>
				</ul>
			</div>
			<div class="col-xs-9">
				<div id="ingles" class="course-description">
					<div class="flex-wrap">
						<img src="/img/flags/USA.png" alt="Bandeira dos Estados Unidos da América">
						<h2 class="language-title">- Inglês</h2>
					</div>
					<p>
						Lorem ipsum dolor sit amet, eum inimicus efficiantur deterruisset ex, at dolorem vituperatoribus sea, ludus eirmod legendos eum no. Eu vim veniam periculis, ne qui bonorum intellegat mediocritatem, vel soleat ornatus ne. Errem dicam ut vel. Ut putant dignissim vel. Eos fugit exerci apeirian id. Te vis euismod atomorum consequat.
					</p>
				</div>
				<div id="alemao" class="course-description inactive">
					<div class="flex-wrap">
						<img src="/img/flags/Germany.png" alt="Bandeira da Alemanha">
						<h2 class="language-title">- Alemão</h2>
					</div>
					<p>
						O nosso curso de alemão é voltado à conversação. A utilização de material didático moderno, prático, dinâmico e com ferramentas audiovisuais acima da média proporciona ao aluno uma fácil assimilação do conteúdo. As outras habilidades são bastante requeridas também – a metodologia e o material exigem dedicação dos alunos, proporcionando ao mesmo o acompanhamento de seu desenvolvimento. Nossa meta é que os alunos comecem a se comunicar em alemão o mais rápido possível, que eles percam o medo de errar e ganhem confiança por praticar muito durante as aulas.
					</p>
				</div>
				<div id="espanhol" class="course-description inactive">
					<div class="flex-wrap">
						<img src="/img/flags/Spain.png" alt="Bandeira da Espanha">
						<h2 class="language-title">- Espanhol</h2>
					</div>
					<p>
						Focado na conversação, para deixar de lado o portunhol. Aqui o aluno irá aprender algumas particularidades desse idioma que domina as américas, desde a Patagônia até a América do Norte. 
					</p>
				</div>
				<div id="italiano" class="course-description inactive">
					<div class="flex-wrap">
						<img src="/img/flags/Italy.png" alt="Bandeira da Itália">
						<h2 class="language-title">- Italiano</h2>
					</div>
					<p>
						Lorem ipsum dolor sit amet, eum inimicus efficiantur deterruisset ex, at dolorem vituperatoribus sea, ludus eirmod legendos eum no. Eu vim veniam periculis, ne qui bonorum intellegat mediocritatem, vel soleat ornatus ne. Errem dicam ut vel. Ut putant dignissim vel. Eos fugit exerci apeirian id. Te vis euismod atomorum consequat.
					</p>
				</div>
				<div id="japones" class="course-description inactive">
					<div class="flex-wrap">
						<img src="/img/flags/Japan.png" alt="Bandeira do Japão">
						<h2 class="language-title">- Japônes</h2>
					</div>
					<p>
						Para crianças, jovens e adultos que se interessam pela cultura japonesa.
					</p>
				</div>
				<div id="frances" class="course-description inactive">
					<div class="flex-wrap">
						<img src="/img/flags/France.png" alt="Bandeira da França">
						<h2 class="language-title">- Francês</h2>
					</div>
					<p>
						Lorem ipsum dolor sit amet, eum inimicus efficiantur deterruisset ex, at dolorem vituperatoribus sea, ludus eirmod legendos eum no. Eu vim veniam periculis, ne qui bonorum intellegat mediocritatem, vel soleat ornatus ne. Errem dicam ut vel. Ut putant dignissim vel. Eos fugit exerci apeirian id. Te vis euismod atomorum consequat.
					</p>
				</div>
				<div id="mandarim" class="course-description inactive">
					<div class="flex-wrap">
						<img src="/img/flags/China.png" alt="Bandeira da China">
						<h2 class="language-title">- Mandarim</h2>
					</div>
					<p>
						Lorem ipsum dolor sit amet, eum inimicus efficiantur deterruisset ex, at dolorem vituperatoribus sea, ludus eirmod legendos eum no. Eu vim veniam periculis, ne qui bonorum intellegat mediocritatem, vel soleat ornatus ne. Errem dicam ut vel. Ut putant dignissim vel. Eos fugit exerci apeirian id. Te vis euismod atomorum consequat.
					</p>
				</div>

				<div id="portugues" class="course-description inactive">
					<div class="flex-wrap">
						<img src="/img/flags/Brazil.png" alt="Bandeira do Brasil">
						<h2 class="language-title">- Português</h2>
					</div>
					<p>
						Lorem ipsum dolor sit amet, eum inimicus efficiantur deterruisset ex, at dolorem vituperatoribus sea, ludus eirmod legendos eum no. Eu vim veniam periculis, ne qui bonorum intellegat mediocritatem, vel soleat ornatus ne. Errem dicam ut vel. Ut putant dignissim vel. Eos fugit exerci apeirian id. Te vis euismod atomorum consequat.
					</p>
				</div>
				
			</div>
		</div> -->
		<p class="justified first-paragraph">Todos os nossos cursos são voltados à conversação. A utilização de material didático moderno, prático e dinâmico, bem como ferramentas audiovisuais de excelente qualidade proporciona aos alunos uma fácil assimilação dos conteúdos propostos.</p>
		<p class="justified">As outras habilidades são bastante requeridas também – a metodologia e o material didático exigem dedicação dos alunos, proporcionando ao mesmo o acompanhamento de seu desenvolvimento.</p>
		<p class="justified">Nossa meta é que os alunos comecem a se comunicar no idioma escolhido o mais rápido possível, ajudando-os a perder o medo de errar e ganhar confiança por praticar muito durante as aulas.</p>
		<div class="flex-wrap">
			<ul style="margin-left: auto;">
				<li>
					<img src="/img/flags/USA.png" alt="Bandeira dos Estados Unidos da América"   class="course-img">
					<span>Inglês</span>
				</li>
				<li>
					<img src="/img/flags/Germany.png" alt="Bandeira da Alemanha"   class="course-img">
					<span>Alemão</span>
				</li>
				<li>
					<img src="/img/flags/Spain.png" alt="Bandeira da Espanha"   class="course-img">
					<span>Espanhol</span>
				</li>
				<li>
					<img src="/img/flags/Italy.png" alt="Bandeira da Itália"   class="course-img">
					<span>Italiano</span>
				</li>
			</ul>
			<ul style="margin-right: auto;">
				<li>
					<img src="/img/flags/Japan.png" alt="Bandeira do Japão"   class="course-img">
					<span>Japonês</span>
				</li>
				<li>
					<img src="/img/flags/France.png" alt="Bandeira da França"   class="course-img">
					<span>Francês</span>
				</li>
				<li>
					<img src="/img/flags/China.png" alt="Bandeira da China"   class="course-img">
					<span>Mandarim</span>
				</li>
				<li>
					<img src="/img/flags/Brazil.png" alt="Bandeira do Brasil"   class="course-img">
					<span>Português</span>
				</li>
			</ul>
		</div>
	</div>

	<% include ../partials/footer.ejs %>

	<script src="js/cursos.js"></script>
</body>
</html>
